@page "/ordenes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Restaurante.Data.Modelos
@using Restaurante.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Restaurante.Data.ApplicationDbContext> DbFactory
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<PageTitle>Indice</PageTitle>

<h1>Indice</h1>


<QuickGrid Class="table" Items="context.Ordenes">
    <PropertyColumn Property="orden => orden.MesaId" />
    <PropertyColumn Property="orden => orden.FechaCreacion" />
    <PropertyColumn Property="orden => orden.FechaCierre" />
    <PropertyColumn Property="orden => orden.Estado" />
    <PropertyColumn Property="orden => orden.Subtotal" />
    <PropertyColumn Property="orden => orden.Propina" />
    <PropertyColumn Property="orden => orden.Total" />

    <TemplateColumn Context="orden">
        <a href="@($"ordens/edit?ordenid={orden.OrdenId}")">Editar</a> |
        <a href="@($"ordens/details?ordenid={orden.OrdenId}")">Detalles</a> |
        <a href="@($"ordens/delete?ordenid={orden.OrdenId}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
