@page "/productos"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "admin")]

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Restaurante.Data.Modelos
@using Restaurante.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Restaurante.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Indice</h1>

<p>
    <a href="productos/create">Crear nuevo</a>
</p>

<QuickGrid Class="table" Items="context.Productos.Include(p => p.Categoria)">
    <PropertyColumn Property="producto => producto.Nombre" />
    <PropertyColumn Property="producto => producto.Precio" />
    <PropertyColumn Property="producto => producto.Codigo" />
    <PropertyColumn Property="producto => producto.Categoria.Nombre"/>

    <TemplateColumn Context="producto">
        <a href="@($"productos/edit?productoid={producto.ProductoId}")">Editar</a> |
        <a href="@($"productos/details?productoid={producto.ProductoId}")">Detalles</a> |
        <a href="@($"productos/delete?productoid={producto.ProductoId}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
