@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Acceso denegado</h1>
    <p class="text-danger">Su usuario no cuenta con el rol necesario para acceder.</p>
</header>
