@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Confirmación de contraseña olvidada</h1>
<p>
    Por favor consulte su correo electrónico para restablecer su contraseña.
</p>
