@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Restablecer confirmacion de contraseña</h1>
<p>
    Su contraseña ha sido restablecida. Por favor <a href="Account/Login">haga click aqui para iniciar sesión.</a>.
</p>
